.cards__like {
    border: none;
    width: 22px;
    height: 19px;
    background: center no-repeat;
    background-image: url("../../../images/heart.svg");
}

.cards__like:hover {
    cursor: pointer;
    opacity: 0.5;
}