.cards__link {
    border: none;
    width: 22px;
    height: 19px;
    background: center no-repeat;
    background-image: url("../../../images/heart.svg");
    align-self: center;
}

.cards__link:hover {
    cursor: pointer;
    opacity: 0.5;
}