.profile__info-title {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 42px;
    line-height: 48px;
    font-style: normal;
    font-weight: 500;
    align-self: end;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media all and (max-width: 720px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 189px;
    }
}